<h2>About Student Records Management</h2>
<p>Course : COEN 278 - Advanced Web Programming </p>
<p>Assignment 3 : Building a web application using Sinatra</p>
<p>This website is a small scale demonstration of Student Database Record Management</p>
