<label for="name">Please enter your name:</label>
<input id="name" name="comment[name]" type="text" value="<%= ::Temple::Utils.escape_html((@comment.name)) %>" />
<label for="comment">Please enter your comment: *</label>
<input id="comment" name="comment[comment]" type="text" value="<%= ::Temple::Utils.escape_html((@comment.comment)) %>" required/>
<input id="created_at" name="comment[created_at]" type="text" value="<%= ::Temple::Utils.escape_html((@comment.created_at)) %>" hidden/>
<input type="submit" value="Save comment" />
